*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.navbar
{
    background-color: #fd5669;
    padding:10px;
}
.container
{
    padding: 10px;
}
.box-container
{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 25%;
    padding: 30px;
    margin: 30px;
    vertical-align: top;
    display: inline-block;
}
.box-container h2
{
    color:#fd5669;
    margin-bottom: 6px;
}
.box-container h5
{
    margin-bottom: 6px;
}
.box-container button
{
    background-color: #fd5669;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}
.add-button
{
    position: fixed;
    right: 2%;
    background-color: #fd5669;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border-radius: 100%;
    border: none;
    bottom: 4%;
}
.popup-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}
.popup-box
{
    background-color: #fd5669;
    position: absolute;
    padding: 50px;
    width: 40%;
    border-radius: 30px;
    left: 30%;
    top: 30%;
    z-index: 2;
    display: none;
}
.popup-box h2
{
    padding-bottom: 10px;
}
.popup-box input
{
    background: transparent;
    border: none;
    width: 100%;
    border-bottom: solid black 2px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
.popup-box textarea
{
    background: transparent;
    width: 100%;
    border: solid black 2px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
.popup-box input::placeholder
{
    color: black;
}
.popup-box textarea::placeholder
{
    color: black;
}
.popup-box input:focus
{
    outline-style: none;
}
.popup-box textarea:focus
{
    outline-style: none;
}
.popup-box button
{
    position: relative;
    top: 14px;
    left:34%;
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
